

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
  transition: ease-in-out 0.3s;
}

.navbar.sticky {
  background: var(--white);
  box-shadow: 0px 0px var(--size20) rgba(48, 63, 100, 0.2);
}

.navbar.sticky .navbar-toggler span,
.navbar.sticky .navbar-brand,
.navbar.sticky .navbar-nav a {
  color: var(--font-color-base);
}
/* here */

.navbar .navContainer {
  display: flex;
  align-items: center;
  padding-top: var(--size20);
}

.container {
  padding: 0 var(--size20);
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.navbar-toggler {
  position: absolute;
  right: var(--size20);
  top: var(--size10);
  outline: none;
  background-color: transparent;
  border: 1px solid transparent;
}
.navbar-toggler span {
  color: #212529;
  font-size: var(--size20);
  cursor: pointer;
  pointer-events: none;
}
.navbar-brand {
  margin-right: auto;
  font-size: 2rem;
  font-weight: 700;
  transition: ease-in-out 0.3s;
  width: var(--size150);
  display: flex;
  align-items: center;
}

.navbar-brand img {
  vertical-align: initial;
}

.nav-link a {
  color: var(--font-color-base);
  font-size: var(--size14);
  font-weight: 500;

  text-transform: capitalize;
  margin-right: var(--size40);
  line-height: 2.75rem;
}
.nav-link.highlighted a {
  color: var(--color-secondary);
}

.nav-button {
  background: var(--color-secondary);
  text-align: center;
  width: 6.375rem;
  height: 2.8125rem;
  margin: 0;
  border-radius: var(--size30);
}
.nav-button a {
  color: var(--white);
  margin: auto;
}
[aria-controls="navbarDropdown"] {
  display: none;
}

.brands{
  margin-top: 30px;

}

.brandsContainer {
  margin-top: var(--size20);
  display: flex;
  justify-content: space-between;
  
  flex-wrap: wrap;
}

.slogan {
  padding: var(--size40) 0;
  align-self: center;
}

.slogan h2 {
  color: var(--black);
  font-weight: 500;
  font-size: var(--size40);
  margin: 0;
}
.playVideo {
  display: flex;
}

.playVideo-btn {
  height: 48px;
  width: 137px;
  background-color: var(--color-secondary);
  border-radius: 30px;
  text-align: center;
  line-height: 48px;
}
.playVideo-btn a {
  color: var(--white);
}

.playVideo-icon {
  padding: 0 5px;
}
.playVideo .highlighted {
  align-self: center;
  padding-left: var(--size20);
}

.websitesContainer{
  width: 500px;
}
.websites{
width: -moz-fit-content;
width: fit-content;
position: relative;
flex: 1;
}

.logo{
  background: var(--white);
  
  border-radius: 50%;
  border: 1px solid transparent;
  box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.25);
  text-align: center;
 
}

.asana{
  position: relative;
  top: 56px;
  left: 395px;
}

.atlassian{
  position: relative;
  bottom: 21px;
  right: -166px;
}
.google{
  position: absolute;
  right: 0px;
  bottom: 289px;
}


.google-A{
  position: absolute;
  right: -111px;
  bottom: 43px;
}

.calender{
  position: relative;
  bottom: -161px;
  right: -367px;
}

.paypal{
  position: relative;
  bottom: 38px;
}
.weave{
  position: relative;
  bottom: 134px;
  right: -267px;
}

 .logo .regular{
  height: 48px;
  width: 48px;
margin: 16px;
 }
.logo .small{
  height: 40px;
  width: 40px;
  margin:10px;
} 

.background {

  width: 100%;
  max-width: 100%;
  height: 630px;
  position: absolute;
display: flex;
bottom: 430px;
z-index: -1;

}



.background:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
 
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 var(--size100) 156.25rem;
  border-color: transparent transparent var(--white) transparent;
}
.gradient {
  background-image:  var(--grad);
  width: 100%;
  height: 100%;
 
}

 .solid{
  
  background: var(--color-dark);
  width: 11.5%;
  position: relative;
} 

.solid:after{
content: "";
position: absolute;
bottom: 0;
right: 99%;

width: 0;
height: 100%;
border-style: solid;
border-width: 50rem var(--size100) 0 0;
border-color: transparent var(--color-dark) transparent transparent;
}

.key-benefits{
  text-align: center;
  margin-top: 15.625rem;
}

.cardsContainer{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px,1fr));
  gap: var(--size20);
  justify-content: center;
 


}
.card{
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  text-align: left;
  padding: 20px;
  width: 100%;
}
.card img{
  height: var(--size50);
  width: var(--size50);
}
.sketch{

  background-color: #01C9A7;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  font-size: 12px;
  line-height: 15px;
  color: var(--white);
  padding: 4px 10px;
}


.banner-section{
  margin-top: var(--size150);
  display: flex;

  height: 470px;
  padding: var(--size30);
  background:  #F8FAFE;

}

.banner-wrapper{
  display: flex;
  width: 100%;
  margin-top: 117px;
  

}
.banner{
  background-image: url(./saas-project-assets/banners/banner_one.jpg);
 background-position: center;
  background-size: cover;
  width: 100%;
}



.banner, .tag-line{
  width: 100%;
  

}
.why-front{
  padding: var(--size100) 0;
}




.why{
  text-align: center;
}
.connect-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}

.connect{
  display: grid;
 text-align: -webkit-center;
 grid-column: 2/span 1;
 content: "";
 grid-template-columns: 1fr auto 1fr;
 align-items: center;
}

.connect h2{
  width: var(--size50);
  height: var(--size50);
  background-color:  #ECF2FF;
  border-radius: 25px;
  color: #0066FF;
 
}
.connect-wrapper{

 

  align-items: center;
  grid-template-rows: 1fr 1fr;
}

.connect:before,
.connect:after {
  display: block;
content: "";
  height: 1px;
  background: #E6E9F2;
}
.connect:after {
  background: #E6E9F2;;
}
.connect-first:before{
  background: transparent;
}

.connect-last::after{
  background: transparent;
}

.connect-wrapper p{
  margin-top: 0;
  font-size: var(--size14);
  grid-row: 2/span 1;
  grid-column: 2/span 1;
  font-size: var(--size16);
  font-weight: 500;
  color: black;
  font-style: normal;
}
.video-banner{
  background-image: url("./saas-project-assets/banners/banner_two.jpg");
 min-height: 414px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--size100);
}
.playVideo-bannerIcon {
 height: 70px;
 width: 70px;
 border-radius: 35px;
 display: flex;
 justify-content: center;
 align-items: center;
 background: var(--white);
 box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  color: #212529;
  font-size: var(--size20);
  line-height: var(--size20);
  font-weight: 900;
}

.hubspot{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.lady-on-graphics{
  max-height: 560px;
  width: 100%;
  position: relative;
}
.womanThree{
  position: absolute;
  height: 425px;
  width: 371px;
  left: 81px;
  z-index: 1;
}
.dots{
position: relative;
top: 104px;
height: 370px;
width: 200px;
left: 25px;
}

.hubspot-text{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 35px;
}
.hubspot-title{
  width: 100px;
  height: 23px;
  margin-bottom: 50px;
}

.hubspot-text p{
font-size: 22px;
font-weight: 500;
line-height: 32px;
font-style: normal;
color: var(--black);


}

.commentor h2{
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: var(--black);
  font-style: normal;
}
.commentor h3{
font-size: 14px;
font-weight: 700;
line-height: 3px;
color: #677788;

}
.companies ul{
  display: flex;
  justify-content: space-between;
  gap: 120px;
  margin-top: 35px;
}

.companies{
  margin-top: 175px;
}
.companies h3{
text-transform: capitalize;
font-size: 20px;
font-weight: 700;
font-style: normal;
text-align: center;
}

.pricing{
  margin-top: var(--size100);
 
}

.pricingContainer{
 display: flex;
 margin-top: var(--size50);
}

.pricingVideo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 450px;
  width:60%;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  
  
  padding: 40px;
}

.bigNumber{
  font-size: var(--size50);
  color: var(--black);
}


.pCardsContainer{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px,1fr));
  gap: var(--size20);
  justify-content: center;
  width: 100%;
 
}
.pCard{
  background: #FFFFFF;
  border: 1px solid #FFFFFF;

  text-align: left;
  padding: 20px;
  width: 100%;
}

.pCard img{
  height: var(--size50);
  width: var(--size50);
}

.pricingVideo hr{
  margin: 0;
}
.pricingVideo .comment{
margin: var(--size30) 0;
font-size: 16px;
}

.caption{
  font-weight: 500;
  font-size: 12px;
  margin-top: 10px;
}